/*body*/
body {
  background-color: black;
}
body * {
  margin: 0;
  padding: 0;
  border: 0;
}

/* navbar */

.navbar {
  background-color: #2e9ca7;
}
.icono {
  max-width: 25px;
}
/*Quienes-Somos*/

#Quienes-somos .col {
  text-align: justify;
  color: rgb(184, 168, 168);
}

#Quienes-somos h2 {
  color: rgb(184, 168, 168);
}
hr {
  color: #2e9ca7;
}

/*Destacados*/
#Destacados h2 {
  color: rgb(184, 168, 168);
}

.card-img-top {
  height: 169px;
}
.card-body {
  background-color: #2e9ca7;
}

/*Contacto*/

#Contacto h2 {
  color: rgb(184, 168, 168);
}

/*footer*/
footer {
  background-color: #2e9ca7;
  align-self: auto;
}
i {
  float: right;
}
