/*body*/
body {
    background-color: black;
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* navbar */

.navbar {
    background-color: none;
}
.icono {
    max-width: 25px;
}

.container-image {
    height: 100vh;
} 

/* main */

.container-image>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 


/*Quienes-Somos*/

#Quienes-somos .col {
    text-align: justify;
    align-content: center;
    color: rgb(184, 168, 168);
}

#Quienes-somos h2 {
    color: rgb(184, 168, 168);
    font-family: "Cabin";
}
hr {
    color: #2e9ca7;
}
.fas {
    padding-inline-start: 50%;
    padding-inline-end: 40%;
    background-color: #2e9ca7;
}

/*Destacados*/
#Destacados h2 {
    color: rgb(184, 168, 168);
    font-family: "Cabin";
}

.card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}
.card-body {
    background-color: #2e9ca7;
    width: auto;
    object-fit: cover;
}
.card-title {
    font-family: "Cabin";
}

/*Contacto*/

#Contacto h2 {
    color: rgb(184, 168, 168);
    font-family: "Cabin";
}

/*footer*/
footer {
    background-color: #2e9ca7;
    align-self: auto;
    color: rgb(184, 168, 168);
    font-family: "Cabin";
}
