/*body*/
body {
  background-color: black;
}
body * {
  margin: 0;
  padding: 0;
  border: 0;
}

/* navbar */

.navbar {
  background-color: none;
}
.icono {
  max-width: 25px;
}
/*Quienes-Somos*/

#Quienes-somos .col {
  text-align: justify;
  align-content: center;
  color: rgb(184, 168, 168);
}

#Quienes-somos h2 {
  color: rgb(184, 168, 168);
}
hr {
  color: #2e9ca7;
}

/*Destacados*/
#Destacados h2 {
  color: rgb(184, 168, 168);
}
.fas {
  padding-inline-start: 50%;
  padding-inline-end: 40%;
  background-color: #2e9ca7;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.card-body {
  background-color: #2e9ca7;
}

/*Contacto*/

#Contacto h2 {
  color: rgb(184, 168, 168);
}

/*footer*/
footer {
  background-color: #2e9ca7;
  align-self: auto;
}
